@font-face {
    font-family: 'nohemi';
    src: url('nohemi_.ttf') format("truetype");
}
@font-face {
    font-family: 'oswald';
    src: url('Oswald-VariableFont_wght.ttf') format("truetype");
}
@font-face {
    font-family: 'flair';
    src: url('PlayfairDisplay-VariableFont_wght.ttf') format("truetype");
}
@font-face {
    font-family: 'augi';
    src: url('Miracle.otf') format('opentype');
}
@font-face {
    font-family: 'playfair';
    src: url('PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'mirano';
    src: url('MiranoExtendedFreebie-Light.ttf') format("truetype");
}
@font-face {
    font-family: 'veneza';
    src: url('VenezaDEMO-Regular.ttf') format("truetype");
}
.top_icons
{
    height: 1rem;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 1.5rem;
    padding: 1rem 1rem 0 0;
    color:	#64686d;
    font-size: 1.22rem;
    font-weight: bolder;
    font-family: flair;
}
.hide_top_icons
{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 0.75rem;
    padding: 1rem 1rem 0 0;
    color:	#64686d;
    font-size: medium;
    font-weight: bolder;
    font-family: flair;
}

@media(max_width:600px)
{

}

.hidden
{
    display: none;
}
.btn_top
{
    border: none;
    
}
.face_icon
{
 font-size: 2.5rem;
 margin: 1.25rem 0 0 1rem;
 color: #64686d;
}
.user_icon
{
    display: flex;
    gap: 0.5rem;
}
.face_icon_text
{
    font-family: flair;
}
header
{
    min-height: 3rem;
    display: flex;
    justify-content: flex-end;
}

#dev
{
    color: rgb(39, 184, 184);
}

#skill_words
{
padding-left: 0.5rem ;
font-family: oswald;
letter-spacing: 0.05rem;
}

#main
{
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.btn_bottom
{
 font-family: nohemi;
font-size: 1.5rem;
letter-spacing: 0.09rem;
 border-radius: 0.5rem;
 border: 0.05rem ;
 background-color: rgb(227, 238, 241);
 padding: 0.5em;
 color: #457397;
}

.bottom_part
{
margin-top: 4rem;
display: flex;
justify-content: center;
align-items: center;
justify-content: space-evenly;
gap: 2rem;
}

.btn_bottom:hover
{
background-color: 	#457397;
color: 	#efefef;
}
section
{
 min-height: 100vh;
}
#main
{
 background-color: 	#cfe1ec;

  min-height: 100vh;
}

#about
{
    background-color: #dfe1ec;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      justify-content: space-evenly;
}

#services
{
   background-color: #a9c7e8;
     min-height: 100vh;
}

#contact
{
  background-color: #c4d9db;
    min-height: 100vh;
}
a
{
 text-decoration: none;
 color: #64686d;
}
.box
{
    height: 20vh;
    background-color: #efefef;
    width: 90vh;
    align-items: center;
    font-size: 1.5rem;
    font-family: augi;
}

.notes
{
    font-family: playfair;
}
#services
{
   padding-top: 2rem;
   padding-left: 2rem;
   padding-bottom: 2rem;
}

.service_notes
{
    padding-top: 2rem;
}
.s_head
{
    font-family: oswald;
    font-size: 1.5rem;
}
.s_main_head
{
   font-size: 2rem;
   font-family: mirano;
}
pre
{
font-family: veneza;
}
.contact_notes
{
    padding: 15rem 0 0 10rem;
}
.c_head
{
    font-size: 2rem;
    font-family: mirano;
}
.s_icon
{
    font-size: 2rem;
}
