@font-face {
    font-family: 'nohemi';
    src: url('nohemi_.ttf') format("truetype");
}
@font-face {
    font-family: 'oswald';
    src: url('Oswald-VariableFont_wght.ttf') format("truetype");
}
@font-face {
    font-family: 'flair';
    src: url('PlayfairDisplay-VariableFont_wght.ttf') format("truetype");
}
@font-face {
    font-family: 'augi';
    src: url('Miracle.otf') format('opentype');
}
@font-face {
    font-family: 'playfair';
    src: url('PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'mirano';
    src: url('MiranoExtendedFreebie-Light.ttf') format("truetype");
}
@font-face {
    font-family: 'veneza';
    src: url('VenezaDEMO-Regular.ttf') format("truetype");
}
@font-face {
    font-family: 'spicy';
    src: url('Spicy\ Sale.ttf') format("truetype");
}

body
{
    margin: 0;
    line-height: 1.6;
    color: #333;
    font-family: oswald;
}

.header
{
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

.top_links
{
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content:space-between;
    align-items: center;
    padding:0 1rem 0 1rem;
}

.top_links i
{
 font-size: 2rem;
 color:#358cee;
}

.top_links a
{
    color:#0077ff;
    text-decoration: none;
    font-size: 1.25rem;
}

#main
{
    background:linear-gradient(135deg, #0077ff 0% 10%, #00c6ff 40% 100%);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

#main h1
{
    color: #fff;
}

#main p
{
    font-size: 2rem;
    font-weight: bolder;
    align-items: center;
}

#main p span 
{
    color: #ffdd00;
}

.main_btn
{
    display: flex;
    gap: 2rem;
}
.btn_bottom
{
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.75rem;
    border: none;
    margin-top: 6rem;
    font-weight: 200;
    font-family:spicy;
    letter-spacing: 0.05rem;
    color: #16687e;
}

.btn_bottom:hover
{
 background-color: #16687e;
 color: white;
 transition: transform 0.3s;
 transform: scale(1.05);
}

.section
{
min-height: 105vh;
}

#about
{
    font-family: veneza;
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.15rem;
    background: linear-gradient(135deg,#c2e59c 0% 20%,#64b3f4 60% 100%);
    color: #333333;
    justify-content: space-around;
}

footer
{
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.lang
{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.skill
{   
    border-radius: 0.75rem;
    border: 0.25rem solid #447c9e;
    background-color:#00c9ff;
    color: black;
    padding: 0.5rem;
    margin-left: 0.75rem;
    font-family: spicy;
    font-weight: 300;
}

.skill:hover
{
 animation: grow 1s forwards;
}
.skill
{
 animation: shrink 1s forwards;
}

@keyframes grow
{
    from{transform: scale(1);}
    to{transform: scale(1.25);}
}

@keyframes shrink
{
    from{transform: scale(1.25);}
    to{transform: scale(1);}
}

.work
{
    display: flex;
   flex-direction: column;
}
.work a
{
    text-decoration: none;
    color:#001f3f;
}

#services
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: veneza;
    color: #444444;
    background: linear-gradient(135deg,#4ca1af 0% 5%,#c4e0e5 20% 100%);
}

.serv
{
 display: flex;
 flex-wrap: wrap;
 gap: 3.125rem;
 align-items: center;
}

.work
{
 width: 12.5rem;
 padding: 1.25;
 border: 0.125rem solid black;
 text-align: center;
 border-radius: 0.75rem;
 font-size: 1.5rem;
 font-weight: 300;
 font-family: spicy;
 background: linear-gradient(135deg,#c0c0aa,#1cefff);
}

.work:hover
{
animation: grow 1s forwards;
}

.work
{
    animation: shrink 1s forwards;
}

@keyframes grow
{
 from{transform: scale(1);}
 to{transform: scale(1.05);}
}

@keyframes shrink
{
   from{transform: scale(1.05);}
   to{transform: scale(1);}
}

#contact
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: #bebebe;
    min-height: 90vh;
}

.detail
{
display: flex;
align-items: center;
gap: 0.5rem;
font-size: 1.5em;
}
